html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
h1 {
    color: white;
}
#first {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.afterHeadings {
    font-weight: 300;
    font-size: 42px;
}
#copyright {
    text-align: right;
}
p {
    font-size: 21px;
    color: gray;
}